.page{
  width: 100%;
  height: 100%;
}

.members{
  height: 10%;
  display: flex;
  justify-content: space-around;
}

.side-tag{
  width: 18%;
}

.member{
  width: 28%;
  text-align: center;
}

.person{
  font-size: 30px;
  text-decoration: none;
  color: rgb(149, 4, 233);
  cursor: pointer;
}

.records{
  height: 65%;
  border: 2px solid black;
  overflow: scroll;
}

.record{
  height: 20%;
  border-bottom: 2px solid black; 
}

.top-bar{
  height: 50%;
  border-bottom: 1px dashed black;
  display: flex;
  justify-content: space-around;
}

.under-bar{
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.point{
  border-left: 1px solid black;
}

.add-record{
  height: 20%;
  text-align: center;
  padding-top: 20px;
}

.add-battle{
  font-size: 30px;
  border-radius: 5px;
  padding: 10px;
  background-color: chartreuse;
  text-decoration: none;
  color: blue;
}

.results{
  height: 15%;
  border: none;
}

.result{
  display: flex;
  justify-content: space-around;
}

.total{
  height: 50%;
}

.add{
  height: 10%;
}

.side-tag{
  text-align: center;
  padding-top: 10px;
}

.num{
  padding-top: 10px;
  letter-spacing: 3px;
}

.to-records{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 4px;
  background-color: rgb(238, 206, 238);
  border-radius: 3px;
}

.text-field{
  border: none;
  background-color: rgba(248, 248, 255, 0);
  text-align: center;
  font-size: 15px;
}


