.r-index{
  height: 10%;
  display: flex;
  justify-content: space-around;
}

.r-records{
  height: 60%;
  border: 2px solid black;
  overflow: scroll;
}

.r-results{
  height: 10%;
  border: none;
}

.r-record{
  height: 10%;
  border-bottom: 2px solid black; 
}

.r-top-bar{
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.red {
  color: red;
}