.record-form{
  height: 70%;
}

.record-boxes{
  height: 40%;
  border: 2px solid black;
  background-color: white;
}

.tag-title{
  width: 18%;
  text-align: center;
  font-size: 30px;
  padding-top: 25px;
}


.point-box{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  border: none;
  letter-spacing: 4px;
}

.numb{
  padding-top: 25px;
  letter-spacing: 4px;
  font-size: 30px;
}

.record-submit{
  align-items: center;
}